*{
  margin:0;
  padding:0;
}
#rectangle{
    
    width:1400px;
    height:70px;
    background:orange;
  
}

 #circle {
      width: 50px;
      height: 50px;
      -webkit-border-radius: 25px;
      -moz-border-radius: 25px;
      border-radius: 25px;
      background: blue;
      display: inline-block;
      margin: 10px;
    }

#rectangle-a{
    margin-top: 400px;
    width:1400px;
    height:70px;
    background:#2EC4B6;
}

.inline{
  display: inline-block;
  position: relative;
  left: -10px;
  top: -30px;
  
}

.tagy {
  position: relative;
  left: 80px;
  top: -30px;
}

.move {
    position: absolute;
    top: 20%; 
    left: 30%;
    width: 560px;
    height: 315px;
    
}

